<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="bower_components/angular-material/angular-material.css">
    <title>Angular JS service Decorators</title>
  </head>
  <body ng-app="app">
    <div ng-controller="commConsoleCtrl as vm">
    <md-toolbar class="md-primary">
      <h1 class="md-toolbar-tools">
        Crub Messenger
      </h1>
    </md-toolbar>
    <md-content layout-padding>
      <form name="crub" novalidate>
        <md-input-container>
          <label>Sender</label>
          <input name="sender" ng-model="vm.message.sender">
        </md-input-container>
        <md-input-container>
          <label>Receiver</label>
          <input name="receiver" ng-model="vm.message.receiver">
        </md-input-container>
        <md-input-container>
          <label>Text</label>
          <input type="text" name="text" ng-model="vm.message.text">
        </md-input-container>
        <md-button class="md-raised" ng-click="vm.clear()">Clear</md-button>
        <md-button class="md-raised md-primary" ng-click="vm.send(vm.message)">Send</md-button>
      </form>
    </md-content>
    </div>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/phone.js"></script>
    <script src="scripts/tap.js"></script>
  </body>
</html>
